<footer class="footer">
	<small>
		The <a href="https://www.atlassian.com/git/tutorials/rewriting-history/" title="">Git Tutorial</a>
		by <a href="http://devourweb.com" title="">Thunderenlight</a><br><br>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="https://www.atlassian.com/git/tutorials/rewriting-history/" title="">History</a></li>

		</ul>
	</nav>
	
</footer>